<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table>
        <tr>   
            <th>id</th>
            <th>Nome</th>
            <th>Idade</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{cadastro_usuario.id}}</td>
            <td>{{cadastro_usuario.nome}}</td>
            <td>{{cadastro_usuario.idade}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>